<h1>Welcome to the Blog!</h1>
<hr>
<% @blogs.each do |blog| %>
  <h4><%= link_to blog.title, blog_path(blog) %></a></h4>
  <p><%= blog.content%></p>
  <hr>
<% end %>
<%= link_to "Add New blog", new_blog_path, class: "btn btn-default" %>

